@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');

:root {
    font-family: 'Lato', sans-serif;
    --color-primary: #fb9c2c;
    background: rgba(221, 221, 221, 0.527);

}

.container__menu {
    display: flex;
    position: fixed;
    background: #fff;
    width: 100%;
    margin-top: -100px;
    margin-bottom: -130px;
z-index: 10;

}

.logo {
    display: flex;
    width: 160px;
    height: 70px;
    margin-left: 200px;
    margin-top: 20px;




}



.menu__item {
    display: flex;
    height: 100px;
    font-size: 400;
    margin-left: 40PX;
    align-items: center;
}

.menu__list {
    color: #000;
    text-decoration: none;
    /*  margin-left: 10px; */
    padding: 50px 20px;
    font-size: 12px;
    border-radius: 10%;


}

.menu__list--inicio {
    background: #fb9c2c;

}

.menu__list:hover {
    background: #fb9a2c3a;
}

.phone {
    display: flex;
    align-items: center;
    margin-left: 200px;

}

.phone__icon {
    font-size: 25px;
    margin-right: 20px;
    color: var(--color-primary);
}

.phone__number {
    color: #666;
}

.slider {
    display: flex;
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin-top: 100px;
    height: 500px;
    position: relative;
}

.slider__content {
    margin: 50px;
    margin-left: 150px;
    text-align: left;
    width: 700px;
}

.slider__title {
    color: var(--color-primary);
    width: 500px;
    font-weight: 700;
    font-size: 30px;
}

.slider__subtitle {
    color: #fff;
    font-size: 20px;
    width: 500px;
}

.slider__text {
    color: #ddd;
    font-weight: 300;
    font-size: 20px;
}



.marcas {
    margin-left: 200px;
    width: 70%;
    justify-content: center;
    border-bottom: dotted #6666667e 1px;
    padding-bottom: 50px;
}

.marcas__text--1 {
    display: inline-block;
    text-align: center;
    margin: 100px auto;
    color: #666;
    font-weight: 900;
}

.marcas__text2 {
    color: #666;
    text-align: center;
    margin-top: -60px;
    font-weight: 900;
}

.marcas__grid {
    display: grid;
    grid-template-areas:
        "img1 img2 img3";
    margin: auto;
    justify-content: center;
    gap: 0 100px;
}

.marcas__title {

    color: dodgerblue;
    text-align: center;
    padding: 20px;
}

.marcas__list-item {
    list-style: none;
    padding-right: 50px;
    overflow: hidden;
    color: #666;
    font-weight: 900;
    text-align: center;
    margin: auto;
}

.marcas__img {
    width: 80px;
    padding: auto;
    margin: auto;
    transition: 1s;
}

.marcas__img:hover{
    width: 100px;
}
.footer__menu {
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: 50px 0 20px 0;
}


.footer__menu--item {
    text-decoration: none;
    color: #666;
    padding: 10px;
    margin-top: 50px;
}

.footer__menu--item:hover {
    color: var(--color-primary);
}

.footer__menu--item-inicio {
    color: var(--color-primary);

}

.footer__icons {
    color: #666;
    text-align: center;
    margin-bottom: 50px;
}

.footer_container-icons {
    padding: 10px;
    font-size: 20px;
}

.map__responsive {
    overflow: hidden;
    padding-bottom: 20.25%;
    position: relative;
    height: 0;


}

.map__responsive iframe {
    left: 200px;
    top: 0;
    height: 200px;
    width: 1000px;
    position: relative;
}

.footer__end {
    text-align: center;
    color: #666;
}

.footer__end--paid {}

.footer__end--icon {
    font-size: 50px;
    padding: 10px;

}