@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');

:root {
    font-family: 'Lato', sans-serif;
    --color-primary: #fb9c2c;
    background: #fff;
    width: 100%;

}


.container__menu {
    display: flex;
    position: fixed;
    background: #000;
    width: 100%;
    margin-top: -100px;
    margin-bottom: -130px;
    z-index: 10;

}

.logo {
    display: flex;
    width: 160px;
    height: 70px;
    margin-left: 200px;
    margin-top: 20px;
}

ul {
    display: flex;
    height: 70px;
    font-size: 400;
    margin-left: 40PX;
    align-items: center;
}

ul li {
    list-style: none;
}

ul li a {
    color: #fff;
    text-decoration: none;
    /*  margin-left: 10px; */
    padding: 43px 10px;
    font-size: 12px;
    border-radius: 0 0 10% 10%;
}

ul li a:hover {
    background: #fb9a2c70;
}


li.active a {
    background: #fb9c2c;
    color: #000;
}

li.active a:hover {
    background: #fb9c2c;
}


.phone {
    display: flex;
    align-items: center;
    margin-left: 200px;

}

.phone__icon {
    font-size: 25px;
    margin-right: 20px;
    color: var(--color-primary);
}

.phone__number {
    color: #666;
}

.slider {
    display: flex;
    background-image: url('../img/slider.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin-top: 100px;
    height: 550px;
    position: relative;
}

.slider__content {
   /*  margin: 50px 0 0 200px; */
    
    text-align: left;
    width: 100%;
}

.slider__title {
    color: var(--color-primary);
    width: 70%;
    font-weight: 900;
    font-size: 50px;
    text-align: right;
    margin-left: 20%;
    margin-top: 5%;
}

.slider__subtitle {
    color: #fff;
    font-size: 30px;
    width: 500px;
    margin: 100px 0 0 50px;
}

.slider__text {
    color: #ddd;
    font-weight: 300;
    font-size: 20px;
    margin: 30px 30px 0 50px;
}

.marcas__container {
    display: flex;

}

.marcas__text--img {
    display: flexbox;
    width: 50%;
    border-radius: 0 10px 10px 10px;

}

.marcas__text--info {
    background: #666;
    display: flexbox;
    height: 250px;
    margin: auto;
    box-shadow: 0 0 20px;
    border-radius: 10px;
    width: 40%;

}



.marcas__text--1 {
    width: 500px;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    height: 50%;
    text-align: center;

}

.boton {
    display: inline;
    width: 100%;
    height: 50%;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    background: var(--color-primary);
    margin: 50px 0 0 200px;
    color: #fff;

}

/* balones */


.marcas__grid {}

.marcas__title {
    width: 100%;
    display: flexbox;
    background: #fff;
    text-align: center;
    color: var(--color-primary);
    padding: 20px 0;

}

.marcas__grid--container {
    display: inline-flex;
    width: 100%;
    height: 500px;
    

}

.marcas__grid--basquet {
    border: 1px solid #000;
    width: 20%;
    height: 500px;
    margin:0 50px 0 10%;
    border-radius: 20%;
    background-image: url(../img/basquet.png);
    background-color:  #fb9a2c70;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 550px;
    
    
}

.marcas__grid--fut {
    border: 1px solid #000;
    width: 20%;
    height: 500px;
    margin:0 50px 0 50px;
    border-radius: 20%;
    background-image: url(../img/futbol.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 550px;
    
    
}

.marcas__grid--beisbol {
    border: 1px solid #000;
    width: 20%;
    height: 500px;
    margin:0 50px 0 50px;
    border-radius: 20%;
    background-image: url(../img/beisbol.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 550px;
    
    
}

.marcas__img {
    display: flex;
    width: 80px;
    
    
    transition: 1s;
}

.marcas__img:hover {
    width: 100px;
}

.marcas__list{
    display: block;
}

.marcas__list-item{
    display: inline-flex;
}

.footer__menu {
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: 50px 0 20px 0;
}


.footer__menu--item {
    text-decoration: none;
    color: #666;
    padding: 10px;
    margin-top: 50px;
}

.footer__menu--item:hover {
    color: var(--color-primary);
}

/* 
.footer__menu--item-inicio {
    color: var(--color-primary);

}

.footer__icons {
    color: #666;
    text-align: center;
    margin-bottom: 50px;
}

.footer_container-icons {
    padding: 10px;
    font-size: 20px;
}

.map__responsive {
    overflow: hidden;
    padding-bottom: 20.25%;
    position: relative;
    height: 0;
    width: 70%;


}

.map__responsive iframe {
    left: 200px;
    top: 0;
    height: 200px;
    width: 1000px;
    position: relative;
}

.footer__end {
    text-align: center;
    color: #666;
}

.footer__end--icon {
    font-size: 50px;
    padding: 10px;

}
 */





/*DISEÑO PARA TABLETAS */